<a href="/">Inicio</a> | 
<a href="/login">Iniciar Sesión</a> | 
<a href="/protegido">Protegido</a> | 
<a href="/bienvenido">Bienvenido</a> | 
<a href="/logout">Cerar Sesión</a> | 
<a href="/usuario"><%= usuario%></a>